$colors: (
    common: (
        white: #ffffff,
        black: #000000,
    ),
    heading: (
        primary: #0A0E1A,
    ),
    grey: (
        1:#f7f7f7,
        2:#F5F6F8,

    ),
    text: (
        body:#57595C,
        p:#57595C,
    ),
    stroke:(
        1:#f4f4f4,
        2:#97bbc5,
    ),
    theme: (
        1: #0057FC,
        2:  #FFE815,

    ),
    border: (
        1: #f1f1f1,
    )
);
