$colors: (
    common: (
        white: #ffffff,
        black: #000000,
    ),
    heading: (
        primary: #0A0E1A,
    ),
    bg: (
        1:#23252D,        

    ),
    text: (
        body:#57595C,
        p:#57595C,
        cta:#B1B4BA,
    ),
    stroke:(
        1:#f4f4f4,
        2:#97bbc5,
    ),
    theme: (
        1: #0057FC,
        2:  #FFE815,

    ),
    border: (
        1: rgba(255,255,255,.15),
    )
);
