@use '../../utils' as *;

.bee-transparent-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

}
.bee-header-border{
    border-bottom: 1px solid var(--bee-border-1);
}
.bee-logo{
    & img{
        width: 166px;
    }
}
.bee-main-menu{
    & nav{
        & ul{
            & li{
                display: inline-block;
                margin-right: 40px;
                position: relative;
                & a{
                    font-family: var(--bee-ff-heading);
                    font-size:  var(--bee-fz-body);
                    color: var(--bee-common-white);
                    line-height:28px;
                    padding: 36px 0;                    
                    display: block;
                    position: relative;
                    &:before{
                        content: "\f121";
                        font-family: var(--bee-ff-flaticon);
                        color: var(--bee-theme-2);
                        font-size: 40px;
                        position: absolute;
                        top: -15px;
                        left: 40px;
                        opacity: 0;
                        @include transition(.3s);                
                    }

                }
                &:last-child{
                    & a {
                        padding-right: 0;
                    }
                }
                & .sub-menu{
                    position: absolute;
                    width: 220px;
                    top:110%;
                    left: 0;
                    background-color: var(--bee-common-white);
                    padding: 16px 0;
                    opacity: 0;
                    visibility: hidden;
                    @include transition(.3s);                  
                    & li{
                        display: block;
                        margin-right: 0;
                        & a{
                            color:var(--bee-common-black);
                            padding: 4px 25px;
                            &:before{
                                opacity: 0;
                            }  
                        }
                        & .sub-menu{
                            left: 90%;
                            top:0;
                            opacity: 0;
                            visibility: hidden;     
                  
                        }
                        &:hover{
                            & > a{
                                color:var(--bee-theme-1);
                            }
                            & .sub-menu{
                                left:100%;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
                &:hover{
                    & a{
                        color:var(--bee-theme-2);
                        &:before{
                            opacity: 1;
                            top:0;
                            left: 30px;
                        }
                    }
                    & .sub-menu{
                        top: 100%;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}
.hero{
    background-color: var(--bee-common-black);
    min-height: 500px;
}


.bee-header{
    &-search{
        line-height: 0;
        padding:0 30px;
        & i{
            font-size: 30px;
            line-height: 0;
            display: block;
            color: var(--bee-text-cta);
            @include transition(.3s);
            &:hover{
                color:var(--bee-theme-2);
            }
        }
    }
    &-cta{
        @include flexbox();        
        align-items: center;
        border-left:1px solid var(--bee-border-1);
        padding:27px 30px;
        &-icon{
            margin-right: 14px;
            & i{
                font-size: 45px;
                line-height: 0;
                display: block;
                color: var(--bee-theme-2);
            }
        }
        &-text{
            display: block;
            line-height: 0;
            & span{
                font-size: var(--bee-fz-cta);
                font-family: var(--bee-ff-body);
                font-weight: var(--bee-fw-regular);            
                color: var(--bee-text-cta);                
                line-height: 1;
            }
            & h4{        
                font-size: var(--bee-fz-h4);                           
                color: var(--bee-common-white);                
                line-height: 1;     
                padding-top: 10px;   
                margin: 0;                
            }
        }
    }
    &-humberger{
        & button{
            background-color:#23252D;
            padding: 19px 23px;
            @include transition(.3s);
            & i{
                font-size: 55px;
                color: var(--bee-common-white);
                line-height: 0;
                display: inline-block;         
                @include transition(.3s);          
                @include transform(rotate(180deg)); 
            }
            &:hover{
                background-color: var(--bee-theme-2);
                & i{                    
                    color: var(--bee-heading-primary);
                }              
            }
        }
    }

}