@use '../../utils' as *;
.bee-footer{
    &-widget-2{
        &-title{
            color: var(--bee-heading-primary);
        }
        
    }
    &-newsletter{
        position: relative;
        & button{
            position: absolute;
            top: 15px;
            right: 0;
        }
        & .form-check{
            &-label{
                font-family: var(--bee-ff-body);
                font-size: 15px;
            }
        }
    }
    &-social-2{
        & a{
            color: #57595C;
            & :hover{
                color: var(--bee-theme-3);
            }
        }
    }
    &-content-2{
        & ul{
            & li{
                & a{
                    color: #57595C;
                    &:hover{
                        color: var(--bee-theme-3);
                    }
                }
            }
        }  
        & span{
            color: #57595C;
        }     
    }
    &-contact-2{
        & .contact-item{
            & span{
                color: #57595C;
            }            
            & h4{
                & a{
                    color: var(--bee-heading-primary);
                    &:hover{
                        color: var(--bee-theme-3);
                    }
                }
            }
        }        
    }
    &-bottom-2{
        border-top: 1px solid var(--bee-border-2);
    }
    &-copyright-2{
        & p{
            color: #57595C;
            margin: 0;
            & a{
                color: var(--bee-theme-3);
            }
        };
    }
    &-menu-2{
        & ul{
            &:last-child{
              
                    padding-right: 0;
                    
                
            }
            & li{
                &:before{
                    background-color: #57595C;
                }

                & a{
                    color: #57595C;
                    font-size: 15px;
                    &:hover{
                        color: var(--bee-theme-3);
                       
                    }
                }
            }
        }
      
    }
}
.bee-footer-widget-3{
    & .bee-footer-widget-title{
        color: #fff;
    }
    & .bee-footer-content{
        & ul {
            & li{
                & a{
                    color: #B1B4BA;
                    &:hover{
                        color: #FF5B15;
                    }
                }
            }
        }
        & span{
            color: #B1B4BA;
        }
        
    }
    & .contact-item{
        & span{
            color: #B1B4BA;
        }
        & h4{
            & a{
            color: #ffffff;
            }
        }
    }
    & .bee-footer-newsletter{
        &::placeholder{
            color: red !important;
        }
        & .form-check-label{
            color: #B1B4BA;
        }

    }

}
.bee-footer-social-3{
    & a{
        color: #B1B4BA;
    }
}
.bee-footer-copyright-3{
    & p{
        color: #B1B4BA;
    }
}
.bee-footer-menu-3{
    & ul{
        & li{
            & a{
                color: #B1B4BA;
            }
        }
    }
}