@use '../utils' as *;


.w-img{
	& img{
		width: 100%;
	}
}
.m-img{
	& img{
		max-width: 100%;
	}
}
img{
	max-width: 100%;
}

.fix {
    overflow:hidden
}
.clear{
    clear: both;
}

.z-index-1{
	z-index: 1;
}

.z-index-11{
	z-index: 11;
}

.overflow-y-visible{
	overflow-x: hidden;
	overflow-y: visible;
}
.overflow-x-visible{
	overflow-x: visible;
	overflow-y: hidden;
}

.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}
.bee-text-upp{
	text-transform: uppercase !important;	
}
.bee-primary-bg{
	background-color: var(--bee-bg-4);
}
.bee-secondary-bg{
	background-color: var(--bee-bg-1);
}
.bee-yellow-bg{
	background-color: var(--bee-theme-2);
}
.bee-blue-bg{
	background-color: var(--bee-theme-1);
}
.bee-cream-bg{
	background-color: #FBF6EF;
}
.bee-white-bg{
	background-color: #ffffff;
}
.bee-brand-bg-home3{	
	background: radial-gradient(56.41% 5198.4% at 47.5% 62%, #0058FF 0%, #FF4C00 100%);
}

.bee-slide-transition{
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.bee-brand-slide-element{
	width: auto;
	display: inline-block;
	& span{
		font-size: 100px;
		font-family: var(--bee-ff-heading);
		color: #ffffff;
		text-transform: uppercase;
		line-height: 1;
	}
}