@use '../utils' as *;
.bee-btn{
    font-family: var(--bee-ff-heading);
    font-size: var(--bee-fz-body);
    color:var(--bee-common-white);
    text-transform: capitalize;
    background-color: var(--bee-theme-1);
    padding:17px 46px;
    @include border-radius(3px);
    display: inline-block;     
    position: relative;
    overflow: hidden;
    &:hover{
        color:var(--bee-common-white);
        &:before{
            left: 110%;            
        }
    }
    &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: rgba(255,255,255,.15);
        transform: skewX(-20deg);
        left: 94%;
        @include transition(.3s);

    }
}
.bee-btn-sec{
    color: var(--bee-heading-primary);
    background-color: var(--bee-theme-2);
    &:hover{
        color:var(--bee-heading-primary);
    }
    &:before{
        background-color: rgba(0,0,0,.15);
    }
}
.bee-service-btn{
    font-family: var(--bee-ff-heading);
    font-size: var(--bee-fz-body);
    width: 100%;
    text-align: left;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    @include border-radius(5px);
    padding:10px 25px;
    color: var(--bee-heading-primary);
    background-color: var(--bee-bg-3);
    @include transition(.3s);  
    &:after{
        content: "\e09f";
        font-family: "Font Awesome 6 Pro";
        font-weight: 900;
        font-size: 20px;
        color: var(--bee-heading-primary);
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translate(0, -50%);
        @include transition(.3s);  
    }

    &:hover{
        background-color: var(--bee-theme-1);
        color: var(--bee-common-white);
        &:after{           
            color: var(--bee-common-white);           
        }
    }

}

.bee-portfolio-btn{
    & a{
        font-family: var(--bee-ff-heading);
        font-size: var(--bee-fz-h2);
        @media #{$xl, $lg, $md}{
            font-size: 45px;
         }
        @media #{$xs}{
            font-size: 35px;
            padding: 40px 55px;
         }
        line-height: 1;
        color:rgba(255,255,255, .30);
        padding:50px 75px;
        display: inline-block;
        background-color: transparent;
        border:2px solid rgba(255,255,255, .30);
        @include border-radius(50%);
        @include transition (.3s);
        &:hover{
            color: var(--bee-theme-2);
            border-color: var(--bee-theme-2);
        }
    }    
}

.bee-blog-btn{
    & a{
        font-family: var(--bee-ff-heading);
        font-size: var(--bee-fz-body);
        text-transform: capitalize;         
        color: var(--bee-heading-primary);       
        @include transition(.3s); 
        display: inline-block;
        & i{
            padding-left: 8px;
            font-size: 18px
        }
    }
    &-2{
        & a{
            font-family: var(--bee-ff-heading);
            font-size: var(--bee-fz-body);
            text-transform: capitalize;           
            @include transition(.3s); 
            display: inline-block;
            color: var(--bee-text-body);   
            &:hover{
                color: var(--bee-theme-1);
            }
        }
    }
    
}
