@use '../utils' as *;


.bee-section-title{

    & h2{
        color: var(--bee-heading-primary);
        text-transform: capitalize;  
    }
    &-white{
        & h2{
            color: var(--bee-common-white);
        }
    }
    & p{
        color: var(--bee-text-body);       
    }

}