@use '../utils' as *;


.bee-section{
    &-subtitle{
        font-family: var(--bee-ff-body);
        font-weight: 500;
        font-size: 15px;       
        text-transform: uppercase;
        text-align: center;
        color: #57595c;
        & i{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--bee-theme-1);
            display: inline-block;
        }
    }
    &-title{
        & h2{
            color: var(--bee-heading-primary);
            text-transform: capitalize;
            @media #{$md,$xs}{
                font-size:38px;      
            }
            & br{
                @media #{$xl,$lg,$md,$xs}{
                    display: none;
                }
            }
        }
        &-white{
            & h2{
                color: var(--bee-common-white);
            }
        }
        & p{
            color: var(--bee-text-body);       
            & br{
                @media #{$xs}{
                    display: none;    
                }
            }
        }
    }    
}