@use '../utils' as *;


.bee-section-title{

    & h2{
        color: var(--bee-heading-primary);
        text-transform: capitalize;
        @media #{$md,$xs}{
            font-size:38px;      
        }
        & br{
            @media #{$xl,$lg,$md,$xs}{
                display: none;
            }
        }
    }
    &-white{
        & h2{
            color: var(--bee-common-white);
        }
    }
    & p{
        color: var(--bee-text-body);       
        & br{
            @media #{$xs}{
                display: none;    
            }
        }
    }

}