@use '../../utils' as *;

.bee-about-area{
    @include background;
    overflow: hidden;
    @media #{$md}{
        padding-bottom: 220px;        
    }
    @media #{$xs}{
        padding-bottom: 180px;        
    }
    &-2{
        overflow: visible;
    }
}
.bee-about-container{
    @media #{$md}{
        padding-left: 10px;        
    }
    @media #{$xs}{
        padding-left: 0;        
    }
}
.bee-about-feature{
    & img{
        @include border-radius(20px);
        width:100%;        
        @media #{$xs}{
            margin-bottom: 30px;  
        }
    }
}
.bee-video-box{
    @media #{$xl,$lg}{
        padding-left: 40px;        
    }
    @media #{$md}{
        padding-left: 0;   
        padding-top: 0;;     
    }
    @media #{$xs}{
        padding-left: 0;   
        padding-top: 0;;     
    }
    & .bee-video-info{
        display: flex;
        align-items: center;
        margin-bottom: 35px;
        & .bee-video-icon{
            height: 80px;
            width: 80px;
            line-height: 80px;
            text-align: center;
            border: 1px solid var(--bee-border-2);
            @include border-radius(50%);    
            margin-right: 20px;        
        }
        & h3{
            color: var(--bee-border-2);
            text-transform: capitalize;
            margin: 0;
        }
    }
}
.bee-about-shape{
    & .shape-1{
        top:20%;
        left: 0;
        z-index: 1;
        @media #{$md}{
            top:15%;
            left: -180px;      
        }
    }
    & .shape-2{
        top:-3%;
        right: -10%;
        z-index: 1;
        @media #{$md}{
            right: -30%;    
        }
    }
    & .shape-3{
        bottom: 25%;
        left: 35%;
        z-index: 1;
    }
}

.bee-about{
    &-content{
        & p{
            font-family: var(--bee-ff-body);
            font-size: 17px;
        }
        & ul{
            & li{
                list-style: none;
                font-family: var(--bee-ff-heading);
                font-size: 30px;
                font-weight: 400;
                color: var(--bee-heading-primary);
                margin-bottom: 30px;
    
                & i{
                    font-family: var(--bee-ff-fontawesome);
                    font-size: 30px;
                    font-weight: 300;
                    color: #000;
                    margin-right: 10px;
                }
                
            }
        }

    } 
    &-img{
        & img{
            z-index: 1;
            margin-left: 120px;
        }
    } 
    
    &-shape-home3{
        & .shape{
            &-1{
                position: absolute;
                top:140px;
                left: 10px;
            }
            &-2{
                position: absolute;
                top:0;
                right: 150px;
            }
        }

    }
    
    &-circle{
        position: absolute;        
        left: 60px;
        bottom: 0;
        height: 595px;
        width: 615px;
        background-color: #FEDC76;
        z-index: -1;
        @include border-radius (50%);
        &-img{
            position: absolute;
            top:0;
            right: 185px;
            & img{
                max-width: inherit;
                z-index: -1;
            }
        }  
    }
}
