@use '../../utils' as *;
.bee-blog{
    &-thumb{
        & img{
            @include border-radius(20px);
        }
    }
    &-content{
        padding:0 30px 30px;
        @media #{$xl ,$lg, $md}{
            padding-left: 0;
            padding-right: 0;
        }
    }
    &-meta{
        & i{
            font-family: var(--bee-ff-fontawesome);
            font-size: 17px;
            color: var(--bee-text-body);
            margin-right: 8px;
        }
        & a{
            font-family: var(--bee-ff-body);
            font-size: 17px;
            color: var(--bee-text-body);
            line-height: 28px;
        }
        & cite{
            width: 2px;
            height: 16px;
            display: inline-block;
            background-color: var(--bee-text-body);
            margin-bottom: -2px;
            margin-left:15px;
            margin-right:15px;
        }
    }
    &-title{
        font-size: 30px;
        padding-top:15px;
        padding-bottom: 30px;
        @media #{$xl, $lg, $md, $xs}{
            font-size: 25px; 
            padding-bottom: 20px;
        }
    }

    &-2{
        border:1px solid var(--bee-border-2);
        @include border-radius (20px);
        position: relative;
        margin-bottom: 30px;
        & .bee-blog-thumb{
            width: 200px;
            flex: 0 0 auto;
            @include transform (translateY(-12px));
            margin-left: -1px;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            object-fit: cover;
            & img{
                width: 100%;
                height: calc(100% + 24px);
                object-fit: cover;              
            }

        }
        & .bee-blog{
            &-content{
                padding:30px;
                padding-left: 225px;
            }
            &-title{
                padding-bottom: 15px;
            }

        }
    }
    &-3{
        &-content{
            display: flex;
            justify-content: space-between;
            align-items: start;    
        }
        &-thumb{
            & img{
                @include border-radius (20px);
            }
        }
        &-meta-date{    
            width: 55px;
            height: 170px;
            padding: 15px 5px 5px 5px;
            @include border-radius (10px);
            position: relative;
            display: flex;
            align-items: end;
            
            & span{  
                          
                & i{
                    font-family: var(--bee-ff-fontawesome);
                    font-size: 20px;
                    font-weight: 300;
                    text-align: center;
                    color: #57595C;
                    height: 45px;
                    width: 45px;
                    line-height: 45px;                   
                    background-color: #ffffff;                        
                    border: 1px solid #57595C;    
                    @include border-radius (10px);
                }
            }   
            & a{
                font-size: 15px;
                text-transform: uppercase;
                color: var(--bee-heading-primary);
                font-weight: 500;
                position: absolute;
                top: 18%;
                transform: rotate(-90deg);
                width: 130px;
                left: -36px; 
            }         
        }
        &-meta-cat{
            & span{
                & a{
                    font-size: 15px;
                    text-transform: uppercase;
                    color: #57595C;
                    font-weight: 500; 
                    & i{
                        font-family: var(--bee-ff-fontawesome);
                        font-size: 16px;
                        font-weight: 300;                        
                        color: #FF5B15;                     
                        margin-right: 10px;                   
                    }
                }
            } 
        }
        &-title{
            font-size: 30px;
            text-transform: capitalize;
        }
        &-btn{
            & a{
                font-family: var(--bee-ff-primary);
                font-size: 18px;
                color: #57595C;
                text-transform: capitalize;
                @include transition (.3s);
                & i{
                    margin-left: 10px;
                }
                &:hover{
                    color: var(--bee-theme-3);
                }
            }

        }
    }
}