@use '../../utils' as *;
.bee-brand{
    &-area{
        @include background;
    }
    &-item{
        min-height: 125px;
        border:1px solid var(--bee-border-2);
        @include border-radius (15px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -1px;
        margin-right: -1px;
    }
}
.bee-brand-section-title-wrapper{
    & .title{
        color: #fff;
        background-color: #1A1A1A;       
        display: inline-block;
        padding: 10px 25px;
        transform: translateY(35px);
        z-index: 2;
        position: relative;
    }
    & .sep{
        width: 100%;
        height: 1px;
        background-color: #FFFFFF;
        opacity: .15;
        z-index: 1;
    }
}