@use '../../utils' as *;
.bee-fact{
    &-icon{
        line-height: 0;
    
        & i{
            font-family: var(--bee-ff-flaticon);
            font-size: 130px;
            display: inline-block;
            line-height: 0 !important;
            color: var(--bee-theme-2);
        }
    }
    &-area{
        @include background;
    }
    &-wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-content{
        & .bee-fact-title{
            color: var(--bee-common-white);
            opacity: .5;
            margin-bottom: 25px;
        }
        & span{
            font-size: 100px;
            line-height: 1;
            color:var(--bee-common-white);          

        }
    }

}