@use '../../utils' as *;
.bee-team{
    &-area{
        & .bee-section-title{
            padding-right: 100px;
            @media #{$lg,$md,$xs}{
                padding-right: 0;                
            }
        }
    }
    &-item-area{
        @media #{$xxl, $xl}{
            padding-right: 60px;
            padding-left: 60px;
        }
        @media #{$xs}{
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    &-thumb{
        margin-bottom: 30px;
        & img{
            width: 100%;
            @include border-radius (20px);
        }
        
    }
    &-info{
        @media #{$md}{         
           padding-right: 15px;
        }
        & h3{
            font-size: var(--bee-fz-h3);      
            color: var(--bee-heading-primary);    
            @media #{$lg}{                
                font-size: 22px;
            }
            @media #{$md}{         
                text-align: right;       
                font-size: 22px;
            }
        }
        & span{
            font-size: 17px;
            color: var(--bee-text-body);   
            margin-left: 50px;     
            @media #{$lg, $md, $xs}{
                margin-left: 0;
            }    
            @media #{$md}{
                text-align: right;
                display: block;
             } 
            & i{               
                width: 60px;
                height: 1px;
                background-color: #D6D6D1;  
                display: inline-block;       
                margin-right: 10px;   
                margin-bottom: 5px;              
               
            }
        }
    }
    &-social{
        & ul {
            list-style: none;
            @media #{$md}{
               text-align: right;
            }    
            & li{
                display: inline-block;        
                &:last-child{
                    & a{
                        padding-right: 0;
                    }
                }                
                & a{
                    font-family: var(--bee-ff-fontawesome);
                    font-size: 25px;
                    font-weight: 400;
                    color:var(--bee-heading-primary);
                    padding-right:18px;
                    @include transition(.3s);
                    &:hover{
                        color: var(--bee-theme-1);
                    }
                }
            }
        }
    }
    &-nav{
        display: flex;
        align-items: center;
        justify-content: end;
        & .button{
            font-family: var(--bee-ff-flaticon);
            color: var(--bee-text-body);
            font-size: 50px;
            line-height: 0;
            display: inline-block;
            @include transition(.3s);
            &:hover{
                color: var(--bee-theme-1);
            }
        }    
        & span{
            display: inline-block;   
            margin: 0 6px;         
            width: 12px;
            height: 12px;
           @include border-radius(100%);
           background-color: #DBDBDB;
        }    
    }
}